@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #121212;
    top: 0;
    left:0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
.container {
    width:100vw;
    /* height:100%; */
    display: flex;
    background: #000000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 353px;
    background-color: #000000;
    padding: 15px;
}

.logo img{

    height: 25px;
    margin: 19px 0px 6px 19px;
}
.navbox{
    height: 23%;
    width: 96%;
    background-color: #121212;
    margin: 1px 0px 2.5px 0px;
    border-radius: 10px;

}
.navboxli{
    /* height: 50%; */
    width: 96%;
    background-color: #121212;
    margin: 8px 10px 10px 0px;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 10px;

}
.navigation ul{
    list-style:none;
    margin-top:1px;
}
.navigation ul li{
    padding : 10px 0px;
}
.navigation ul li a{
    color:#b3b3b3;
    text-decoration: none;
    font-weight:500;
    font-size:18px;
    margin: 19px 0px 6px 19px;
}
.library a{
    color:#b3b3b3;
    text-decoration: none;
    font-weight:500;
    font-size:18px;  
}
.lib{
    
    margin:19px 0px 6px 19px ;
}
.library{
    padding-bottom: 10px;
}
.navigation  ul li .fa .library .fa {
    font-size: 12px;
    margin-right: 10px;  
}
.navigation  ul li a:hover {
    color:#ffffff;
}
.library a:hover{
    color:#ffffff;
}

.scrolldetail{
    background-color: #242424;
    margin: 0 10px;
    color: white;
    border-radius: 10px;
}
.scrolldetail a{
    color:#000000;
    text-decoration: none;
}
.scrolldetail button a:hover{
    padding: 1px 3px 1px 1px;
}
.scrolhead{
    padding: 20px 15px 5px 15px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.scrolldetail span{
    padding: 8px 15px 7px 15px;
    display: block;
    color: white;
    font-size: 13px;
    
}
.scrolldetail button{
    margin: 10px 15px 20px 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
}
.scroll{
    padding-top: 20px;
    max-height: 230px;
    overflow-y: scroll;
    box-shadow: 0px 10px 10px rbg(255,255,255) inset;

}

.libraryfooter{
    margin: 40px 20px;
    margin-bottom: 30px;
}

.libraryfooter span{
    color: rgb(153, 151, 151);
    margin: 30px 10px ;
    text-align: center;
    font-size: 10px;
        
}

.english{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:#b3b3b3;
    /* padding :10px 20px 10px 20px; */
    margin-left: 27px;

    border: 1px solid rgb(129, 127, 127);
    border-radius: 50px;
    margin-bottom: 9px;
}
.english i{
    font-size: 18px;
    /* padding: 7px; */
    padding-left: 10px;
}

.english span{
    font-size: 14px;
    padding:8px;
    font-weight: bold;
}
.library-footer button :hover{
    color:white;

}




    .navbar {
        height: 66px;
        /* background-color: #121212; */
        width:77vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        overflow: hidden;
        border-radius: 10px;

    }
.navbar .left{
    font-size: 30px;
    margin-left: 30px;
}

.navbar .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    
}
.navbar .right a{
    text-decoration: none;
   
}

.navbar .right button {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 24px 30px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
}

.navbar .right .sign-up {
    color: #b3b3b3;
    background-color: rgb(18, 18, 18);
}

.navbar .right a .sign-up:hover {
    color: #fff;
}

.preview{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(to right, #ae2896,#509bf5);
    padding:15px 10px;
    display: flex;
    justify-content: space-between;
}
.preview h5{
    color:white;
    text-transform: uppercase;
    font-weight:400;
    font-size:20px;
    margin-bottom:10px;
}

.preview p{
    color:white;
    font-size: 14px;
    font-weight:300;
}
.preview button{
    background-color: #ffffff;
    color:black;
    font-size:16px;

    padding:14px 13px;
    border:0px;
    border-radius:40px;
}
.preview a{
    color:black;
    text-decoration: none;
}
.preview button:hover{
    padding:15px 14px;
    background-color: white;
}

.spotifyplaylist{
    padding:20px 40px;
    background-color: #121212;
    border-radius: 10px;
    
}
.spotify-playlist {
    text-decoration: none;
}
.spotify-playlist:hover{
    text-decoration: underline;
}
.show-all{
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 700px;
    text-decoration: none;
  
}

.show-all-h2{
    margin-right: 40px;
}

.header-of-music{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-of-music
.spotifyplaylist h2 a{
    color:white;
    font-size:22px;
    margin-bottom: 20px;
    text-decoration: none;

}
.spotifyplaylist h2 a:hover{
    text-decoration:underline;
    font-weight: bold;
}

.spotifyplaylist .list{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    overflow:hidden;
    /* max-height:450px; */
}
.scrolll{
    padding-top: 20px;
    max-height: 480px;
    overflow-y: scroll;
    box-shadow: 0px 10px 10px rbg(255,255,255) inset;

}
 .list .item{
    min-width:140px;
    width:160px;
    padding:15px;
    background:#181818;
    border-radius:6px;
    cursor:pointer;
    transition:all ease 0.4s;
}
 .list .item img{
    width:100%;
    border-radius: 6px;
    margin-bottom:10px;

}
.list .item:hover{
    background-color: #252525;
}
.list .item .play{
    position:relative;
}
.list .item .play .fa{
    position:absolute;
    right:10px;
    top:-60px;
    padding:18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity:0;
    transition: all ease 0.4s;
}
.list .item:hover .play .fa{
    opacity:1;
    transform :translate(-10px);
}
.list .item h4{
    color:white;
    font-size:14px;
    margin-bottom:10px;
    font-weight:600px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.list .item p{
    color:#989898;
    font-size:12px;
    line-height:20px;
    font-weight:500;
}
.copyright{
    flex-wrap:wrap;
}
.spotifyplaylist hr{
    margin:70px;
}
.foot2{
    /* border: 1px solid black; */
    margin:50px;
    display: flex;
    justify-content: space-between;
}

.f2-company-head{
    color:white;
    /* margin-left: 40px; */
    letter-spacing: 3px;
    font-weight: bold;
}
.f2-company-links{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.f2-company-links a{
    font-size: 15px;
    line-height: 28px;
    font-weight: 10px;
    color: rgb(158,158,158);
   
    text-decoration: none;
}
.f2-company-links a:hover{
    text-decoration: underline;
    color:white;
}

.f2-comm-head{
    color:white;
    margin-left: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}
.f2-comm-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}
.f2-comm-links a{
    font-size: 15px;
    font-weight: 10px;
    line-height: 28px;
    color: rgb(158,158,158);
    margin-left: 40px;
    text-decoration: none;
}
.f2-comm-links a:hover{
    text-decoration: underline;
    color:white;
}

.foot2-comm{
    flex-wrap:wrap;
    margin:10px;
} .foot2 {
    flex-wrap:wrap;
}.foot2-res-enter{
    flex-wrap:wrap;
}

.f2-social-head{
    color:white;
    margin-left: 20px;
    letter-spacing: 3px;
    font-weight: bold;

}
.f2-social-icons{
    color:rgb(158,158,158);
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.foot2-res-enter{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    font-weight: 10px;
    gap: 2rem;
}
.f2-links-head{
    color:white;
    margin-left: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}
.f2-links-links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.f2-links-links a{
    font-size: 15px;
    line-height: 28px;
    color: rgb(158,158,158);
    margin-left: 40px;
    text-decoration: none;
    font-weight: 10px;
}
.f2-links-links a:hover{
    text-decoration: underline;
    color:white;
}

.foot3 p{
    font-size: 12px;
    color: rgb(158,158,158);
    padding-top: 70px;
    padding-bottom: 70px;
} 